/* GENERAL */
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
}

/* HEADER */
header {
  overflow: hidden;
  background-color: #154034;
  padding: 10px 45px;
  border-top: solid 10px rgb(86, 76, 64);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}

header a {
  display: block;
  float: left;
  color: #cdc4bb;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: x-large;
}

header a:hover {
  background-color: #cdc4bb;
  color: #154034;
  font-weight: bold;
  border-radius: 20px;    

}

header a.logo {
  border: solid 3px #cdc4bb;
  border-radius: 20px;    
}

header .logo img {
  max-width: 80px;
  height: auto;
}

header .icon {
  display: none;
}

header .nav-link {
  float: right;
  margin-top: 25px;
}

@media screen and (max-width: 740px) {
  header a:not(.logo) {display: none;}
  header a.icon {
    float: right;
    display: block;
    padding: 5px 5px;
    margin-top: 25px;
  }

  header.responsive {position: relative;}
  header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  header a.logo {
      border: none;
      background-color: none;
  }
  header a {
      margin: 5px;
      padding: 5px;
      font-size: 1rem;
  }
}

/* RESERVATION */
.reservation {
background-image: url("https://i.postimg.cc/C1qd4t49/background-image.jpg");
width: 100%;
min-height: 590px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
border-top: solid 10px rgb(86, 76, 64);

}

h1 {
color: #154034;
font-family: 'Halimun', sans-serif;
font-size: 25px;
}

.form {
position: absolute;
right: 0;
margin: 20px;
max-width: 280px;
padding: 15px;
background-color: #cdc4bb;
}

input[type=text], input[type=email], input[type=number] {
width: 100%;
padding: 15px;
margin: 7px 0 25px 0;
border: none;
background: white;
}

#submit {
background-color: #154034;
font-size: larger;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
}

.btn:hover {
background-color:rgb(58, 3, 3);
font-weight: bold;
}


/* ABOUT & MENU */
#h2-about, #h2-menu {
font-size: x-large;
text-align: center;
color: white;
background-color: rgb(146, 133, 117);
margin: 0;
padding: 25px;
border-top: solid 10px rgb(86, 76, 64);
border-bottom: solid 10px rgb(86, 76, 64);
}

.about:after, .menu:before {
content: "";
clear: both;
display: table;
}

.information {
width: 100%;
float: left;
padding: 25px;
background-color: #cdc4bb;
}

.info-column-1 {
width: 50%;
float: left;
}

.info-column-1 i, .info-column-1 p {
display: inline-block;
}

.info-column-1 i{
background-color:  #154034;
color: white;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.info-column-2 {
width: 48%;
float: left;
}

@media only screen and (max-width: 870px) {
.info-column-1, .info-column-2 {
  width: 100%;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 15px;

}
.info-column-1 p, i {
  display: block;
} 
}

.menu img{
  max-width: 100%;
  height: 750px;
  object-fit: contain;
}

.menu-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
padding-top: 35px;
padding-bottom: 35px;
background-color: #154034;

}

@media (max-width: 550px) {
.menu-container img{
  max-width: 100%;
  height: 400px;
  object-fit: contain;
}
}

/* FOOTER */
footer {
  background: #cdc4bb;
  width: 100%;
  text-align: left;
  font: bold 16px;
  border-top: solid 10px rgb(86, 76, 64);

}

footer .footer-left,
footer .footer-center,
footer .footer-right{
  display: inline-block;
  vertical-align: top;
  padding: 50px 40px;
}

/* Footer left */
footer .footer-left{
  width: 30%;
  padding-left: 40px;
}

#footer-logo {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Footer center */
footer .footer-center{
  width: 38%;
  padding-left: 100px;
}

footer .footer-center i{
  background-color:  #154034;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

footer .footer-center p{
  display: block;
  color: #154034;
  margin:0;
  text-decoration: none;
}

/* Footer Right */
footer .footer-right{
  width: 30%;
}

footer .footer-links{
  color: #154034;
}

footer .footer-links a{
  display:block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

footer .footer-links a:hover{
  background-color: #154034;
  color: #cdc4bb;
  border-radius: 20px;
  padding-left: 50px;
}

footer .footer-icons{
  margin-top: 25px;
}

footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #154034;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 5px;
  padding-top: 7px;
}

@media (max-width: 740px) {
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  footer .footer-left,
  footer .footer-center,
  footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    padding: 0;
  }
}